.header {
  background-color: rgb(50, 167, 145); /* requisitos 1 */
  display: flex; /* requisitos 1 */
  justify-content: space-between; /* requisitos 3 */
  width: 100%;
  height: 70px;
}

.trybewarts-login {
  display: flex; /* requisitos 3 */
}

main {
  display: flex; /* requisitos 5 */
  padding: 2% 5% 2% 5%;
  justify-content: space-around;
}

#evaluation-form {
  display: flex; /* requisitos 5 */
  width: 675px; /* requisitos 5 */
  flex-direction: column; /* requisitos 6 */
}

#trybewarts-forms-logo {
  height: 500px; /* requisitos 7 */
  display: flex; /* requisitos 7 */
}

#primeirParte {
  flex-wrap: wrap; /* requisitos 11 */
}

.formulario {
  width: 40%; /* acresentado para validar o exercicio 11 */
  height: 25px; /* acresentado para validar o exercicio 11 */
}

hr {
  width: 100%; /* usei hr para separa as partes igual na imagem de exemplo */
}

#segundaParte {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 20px;
}

.logo {
  align-self: center;
  justify-content: center;
}

.checkboxUp {
  width: 350px;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
}

.checkbox div {
  padding: 0 20px;
}

.header h1 {
  align-self: center;
  justify-content: center;
  color: white;
}

.tamanho {
  align-self: center;
  justify-content: center;
  padding-right: 10px;
}

.radio div {
  padding-left: 10px;
}

#label-rate {
  padding: 0px 20px 15px;
}

textarea {
  width: 100%;
  height: 100px;
}

#counter {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

body {
  background-color: #efefef;
}

.btn-secondary {
  background-color: #4e2c83;
}

.card {
  background-color: #3c404a;
  color: white;
  bottom: 0;
  width: 100%;
  position: fixed;
}

h2 {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.espaco {
  height: 30px;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}
