.selecionado {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.text-center {
  padding-top: 30px;
}

.centralizar {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
